@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

/* CSS Variables */
:root {
  --pry-color: #2b6db0;
  --pry-bold-color: #22668b;
  --sec-color: #d8cef3;
  --sec-bold-color: #b1a9ea;
  --dark-color: #000;
  --dark-hover-color: #1d1d1d;
  --light-color: #fff;
  --grey-color: #fbfbfe80;

  --header-font: 'Fraunces', serif;
  --text-font: 'Barlow', sans-serif;
}
/* CSS Variables */

/* Showcase */
.showcase {
  margin: 0;
  padding: 0;
  background: linear-gradient(#00000000, #00000000), url(../../assets/image-header.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.showcase .showcase-content {
  margin-top: 20vh;
}

.showcase .showcase-content h1 {
  font-size: 3.5rem;
}

/* Showcase  */

/* About */
.about .first{
padding: 0 5rem ;
}

.about a {
  text-decoration: #f0f006 underline 2px ;
  text-decoration-thickness: 5px;
}

.about a:hover {
  text-decoration: #383838 underline 2px ;
  text-decoration-thickness: 5px;
}
/* About */
/* More */
.more .first{
padding: 0 5rem ;
}
.more a {
  text-decoration: #f49797 underline 2px ;
  text-decoration-thickness: 5px;
}
.more a:hover {
  text-decoration: #383838 underline 2px ;
  text-decoration-thickness: 5px;
}
/* More */

/* Services */
.services .first{
background: url(../../assets/image-graphic-design.jpg) no-repeat center;
height: 70vh!important;
background-size: cover;
padding: 0 5rem;

}
.services .first .text{
  margin-top: 45vh;
}
.services .second{
background: url(../../assets/image-photography.jpg) no-repeat center;
height: 70vh!important;
background-size: cover;
padding: 0 5rem;

}
.services .second .text{
  margin-top: 45vh;
}
/* Services */

/* Testimonials */
.testimonials {
  padding: 7rem 0;
}
/* Testimonials */

/* Media Query for Mobile device */
/* Media Query for Mobile device */

@media screen and (max-width: 780px) {
  .showcase {
    background:  url(../../assets/mobile/image-header.jpg) no-repeat center;
    background-size: cover;
  /* height: 70vh; */
  }
/* About */
.about .row.row-reverse-sm {
  flex-direction: column-reverse;
}
.about .first{
  padding: 5rem 2rem !important;
  text-align: center;
  }

/* About */

/* More */
.more .first{
  padding: 5rem 2rem !important;
  text-align: center;
  }
/* More */

/* Services */
.services .first{
  padding: 0rem 2rem !important;
  text-align: center;
  }
  .services .first .text{
    margin-top: 45vh;
  }
  .services .second{
    padding: 0rem 2rem !important;  
    text-align: center;
  }
  .services .second .text{
    margin-top: 45vh;
  }
  /* Services */
  
}

@media screen and (max-width: 580px) {

  /* Showcase  */
  .showcase {
  height: 70vh;
  }
  .showcase .showcase-content img{
    width: 10%;
  }
  /* Showcase  */

/* More */
.more .first{
  padding: 5rem 2rem !important;
  text-align: center;
  }
/* More */


}
/* Media Query for Mobile device */
/* Media Query for Mobile device */
